aiofiles==22.1.0
aiosqlite==0.18.0
altair==5.3.0
annotated-types==0.7.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asteval==0.9.29
astropy==5.2.1
asttokens==2.2.1
attrs==22.2.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.2
bleach==6.0.0
blinker==1.8.2
blosc2==2.5.1
cachetools==5.4.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.7
comm==0.1.2
contourpy==1.0.7
cycler==0.11.0
dacite==1.8.1
danatools==0.1.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
executing==1.2.0
fastjsonschema==2.16.2
fonttools==4.38.0
fqdn==1.5.1
future==0.18.3
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.0.1
h5py==3.8.0
htmlmin==0.1.12
idna==3.4
ImageHash==4.3.1
iminuit==2.19.0
ipykernel==6.21.2
ipython==8.10.0
ipython-genutils==0.2.0
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.5.0
jupyter-ydoc==0.2.2
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyter_server==2.2.1
jupyter_server_fileid==0.6.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab_server==2.19.0
kiwisolver==1.4.4
langdetect==1.0.9
llvmlite==0.43.0
lmfit==1.1.0
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.5
mpmath==1.3.0
msgpack==1.0.7
multimethod==1.12
multiprocess==0.70.14
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
ndindex==1.8
nest-asyncio==1.5.6
networkx==3.3
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
numba==0.60.0
numexpr==2.9.0
numpy==1.24.1
obspy==1.4.0
packaging==23.0
pandas==2.2.2
pandas-profiling==3.6.6
pandocfilters==1.5.0
parso==0.8.3
pathos==0.3.0
patsy==0.5.6
pexpect==4.8.0
phik==0.12.4
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.0.0
pox==0.3.2
ppft==1.7.6.6
prometheus-client==0.16.0
prompt-toolkit==3.0.36
protobuf==5.27.2
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==17.0.0
pycparser==2.21
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
pyerfa==2.0.0.1
Pygments==2.14.0
pymultinest==2.11
pynndescent==0.5.13
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-json-logger==2.0.5
pytz==2022.7.1
PyWavelets==1.6.0
PyYAML==6.0
pyzmq==25.0.0
regex==2024.5.15
requests==2.28.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
scikit-learn==1.3.2
scipy==1.10.0
seaborn==0.13.2
Send2Trash==1.8.0
six==1.16.0
smmap==5.0.1
snewpy==1.3
sniffio==1.3.0
sntools==1.2
soupsieve==2.3.2.post1
SQLAlchemy==2.0.23
stack-data==0.6.2
statsmodels==0.14.2
streamlit==1.36.0
sympy==1.12
tables==3.9.2
tabulate==0.9.0
tenacity==8.5.0
terminado==0.17.1
threadpoolctl==3.2.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
typeguard==4.3.0
typing_extensions==4.12.2
tzdata==2024.1
umap==0.1.1
umap-learn==0.5.6
uncertainties==3.1.7
uri-template==1.2.0
urllib3==1.26.14
visions==0.7.6
watchdog==4.0.1
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
wordcloud==1.9.3
y-py==0.5.5
ydata-profiling==4.8.3
ypy-websocket==0.8.2
